<mat-toolbar>
  <a routerLink="/"
     mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>Exam Portal</span>
  <span class="example-spacer"></span>
  <a *ngIf="!isLoggedIn"
     [routerLink]="['/login']"
     mat-icon-button class="example-icon favorite-icon mr20" aria-label="Example icon-button with heart icon">
    Login
  </a>
  <a *ngIf="!isLoggedIn"
     [routerLink]="['/signup']" routerLinkActive="router-link-active"
     mat-icon-button class="example-icon favorite-icon mr60 ml20" aria-label="Example icon-button with heart icon">
    Register
  </a>

  <a
    *ngIf="isLoggedIn"
    style="margin-right: 50px;" [routerLink]="['/admin-dashboard/profile']" routerLinkActive="router-link-active"
    mat-icon-button class="example-icon favorite-icon mr60 ml20" aria-label="Example icon-button with heart icon">
    {{user.username }}
  </a>
  <a (click)="logout()"
     *ngIf="isLoggedIn"
     mat-icon-button class="example-icon favorite-icon mr60 ml20" aria-label="Example icon-button with heart icon">
    Logout
  </a>
</mat-toolbar>
