<mat-card>
  <h1>Update Quiz</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <form *ngIf="quiz" (submit)="updateForm()">

            <mat-form-field class="w100">
                <mat-label>Enter Title</mat-label>
                <input [(ngModel)] = "quiz.title" 
                matInput type="text" name="title" placeholder="Enter title" required>
            </mat-form-field>

            <mat-form-field class="w100">
                <mat-label>Enter Description</mat-label>
                <textarea [(ngModel)] = "quiz.description"  matInput type="text" name="description" placeholder="Enter title" rows="5" required></textarea>
            </mat-form-field>

            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="w100">
                        <mat-label>Enter max marks</mat-label>
                        <input [(ngModel)] = "quiz.maxMarks" matInput type="text" name="maxMarks" placeholder="Enter title" required>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="w100">
                        <mat-label>Enter no. of questions</mat-label>
                        <input matInput [(ngModel)] = "quiz.noOfQuestions" type="text" name="noOfQuestions" placeholder="Enter title" required>
                    </mat-form-field>
                </div>
            </div>

            <mat-slide-toggle [(ngModel)] = "quiz.active" name="active" class="mr20">
                Publish status
            </mat-slide-toggle>

            <br>

            <mat-form-field class="mt20 w100">
                <mat-label>Categories</mat-label>
                <mat-select name="category" [(ngModel)] = "quiz.category.cid">
                    <mat-option *ngFor="let c of categories" [value]="c.cid">{{ c.title }}</mat-option>
                </mat-select>
            </mat-form-field>

            <br>

            <div class="container text-center">
                <button mat-raised-button color="primary" class="btn">Update</button>
            </div>

        </form>
      </div>
    </div>
  </div>
</mat-card>
