<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <mat-card style="margin-top: 70px;">
                    <h3 class="text-center">Instructions</h3>
                    <mat-card-content>
                        <ul>
                            <li>Do not Refresh the page Otherwise you will get new questions in this quiz</li>
                            <li>Do not switch the tab</li>
                            <li>Do not minimize window</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-7">
                <ng-container *ngIf = "questions">
                    <mat-card>
                        <h1 class="mt20">On going quiz: {{questions[0].quiz.title}}</h1>
                    </mat-card>
                </ng-container>

                <mat-card *ngFor="let q of questions; let i = index;" class="mt10">
                    <mat-card-content>
                        <p>Q {{i+1}} <span class="ml10" [innerHTML] = "q.content"></span></p>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <input [(ngModel)]="q.givenAnswer" type="radio"
                                [value]="q.option1" [name]="'question'+i"
                                >{{q.option1}}
                            </div>
                            <div class="col-md-6">
                                <input [(ngModel)]="q.givenAnswer" type="radio"
                                [value]="q.option2" [name]="'question'+i">{{q.option2}}
                            </div>
                        </div>
                        <div class="row mt10">
                            <div class="col-md-6">
                                <input [(ngModel)]="q.givenAnswer" type="radio"
                                [value]="q.option3" [name]="'question'+i">{{q.option3}}
                            </div>
                            <div class="col-md-6">
                                <input [(ngModel)]="q.givenAnswer" type="radio"
                                [value]="q.option4" [name]="'question'+i">{{q.option4}}
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <div class="container text-center mt20 mb20">
                    <button (click)="submitQuiz()" mat-raised-button>Submit Quiz</button>
                </div>
            </div>
            <div class="col-md-3">
                <mat-card  style="margin-top: 75px;">
                    <mat-card-header>
                        <mat-card-title>
                            Progress
                        </mat-card-title>
                        <mat-card-subtitle>
                            Quiz will be automatically submitted in 
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="mt20">
                        <h1 class="text-center">{{getFormattedTime()}}</h1>
                        <mat-spinner mode="determinate" [value]="(timer / (this.questions.length*2*60))*100" style="margin: auto;"></mat-spinner>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>


<div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row">
        <div class="col-md-6 offset-md-3 mt20">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        Quiz Result
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-center">
                    <h1>Marks scored: {{marksGot}}</h1>
                    <h1>Correct answers: {{correctAnswers}}</h1>
                    <h1>Questions attempted: {{attempted}}</h1>
                </mat-card-content>
                <mat-card-actions >
                    <button mat-raised-button>Print</button>
                    <button class="ml10" mat-raised-button [routerLink]="'/user-dashboard/0'">Home</button>

                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>