<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <mat-card style="margin-top: 70px;">
                    <h3 class="text-center">Instructions</h3>
                    <mat-card-content>
                        <ul>
                            <li>Do not Refresh the page Otherwise you will get new questions in this quiz</li>
                            <li>Do not switch the tab</li>
                            <li>Do not minimize window</li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-8">
                <ng-container *ngIf = "questions">
                    <mat-card>
                        <h1 class="mt20">On going quiz: {{questions[0].quiz.title}}</h1>
                    </mat-card>
                </ng-container>

                <mat-card *ngFor="let q of questions; let i = index;" class="mt10">
                    <mat-card-content>
                        <p>Q {{i+1}} <span class="ml10" [innerHTML] = "q.content"></span></p>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <input type="radio"
                                [value]="q.option1" [name]="i">{{q.option1}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio"
                                [value]="q.option2" [name]="i">{{q.option2}}
                            </div>
                        </div>
                        <div class="row mt10">
                            <div class="col-md-6">
                                <input type="radio"
                                [value]="q.option3" [name]="i">{{q.option3}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio"
                                [value]="q.option4" [name]="i">{{q.option4}}
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <div class="container text-center mt20 mb20">
                    <button mat-raised-button>Submit Quiz</button>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</div>
