<mat-card>
    <h1>Add New Category</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input required="true" type="text"
                             [(ngModel)]="category.title" name="title" matInput
                            placeholder="Enter here">
                        </mat-form-field>

                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>
                            <textarea
                            [(ngModel)]="category.description" name="description" matInput
                            placeholder="Enter category description"
                            rows = "10">
                            </textarea>
                        </mat-form-field>

                        <div class="container text-center mt15 mb15">
                            <button mat-raised-button>Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    </mat-card-content>
</mat-card>
