<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center mt20">
            <img src="https://cdn-icons-png.flaticon.com/512/747/747545.png" alt="Login Icon" width="100" height="100">
          </div>

          <h1 class="text-center">Login Here</h1>

          <form (ngSubmit)="formSubmit()">
            <!--Username field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Name</mat-label>
              <input
              [(ngModel)] = "loginData.username" name="username"
                     matInput placeholder="Enter here" required="true">
            </mat-form-field>

            <!--Password field-->
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
              [(ngModel)] = "loginData.password" name="password"
                     type="password" matInput placeholder="Enter here" required="true">
            </mat-form-field>

            <div class="container text-center mb20">
              <button mat-raised-button color="primary" type="submit">Login</button>
              <button class="ml20" mat-raised-button type="reset">Clear</button>

            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
