mat-card{
  padding: 10px;
}
.mat-line-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .mat-line-title {
    font-weight: 400;
    font-size: 16px;
  }
  
  .mat-line-desc {
    color: #666;
    font-size: 14px;
  }
  